
<ion-content>
  <div class="container-fluid ">
     <!-- <ion-col size-lg="1" size-md="1" size-xs="1"> -->
          <div class="mobile">
            <!-- <div class="l-navbar1" id="nav-bar"> -->
                <!-- Market -->
                <div id="footerclick1" class="sidebar-platform" style="background-color:#131e2a;
                    max-width: 26rem;">
                    <!-- <div class="footer-market__container" style="width: 26rem;"> -->
                      <div class="footer-menu-trade-header footer-menu-trade-header__content ">
                          <div class="footer-menu-trade-header__center " style="opacity: 1;">
                            <h3 class="side-menu-trade">
                              <span >Market</span>
                          </h3>
                          <a href="javascript:void(0)" class="clickclose">×</a>
                        </div>                     
                        
                        
                        </div>  
                        <div class=""  id="tabs">
                          <nav class="trading-tabulator__tabs">
                            <div class="nav nav-tabs nav-fill trading-tabulator__tabs-wrapper" id="nav-tab" role="tablist">
                              <a class="nav-item nav-link active trading-tabulator__tab trading-tabulator__tab_active" id="nav-market-home-tab" data-toggle="tab" href="#nav-market-home" role="tab" aria-controls="nav-home" aria-selected="true">Store</a>
                              <a class="nav-item nav-link  trading-tabulator__tab" id="nav-profile-tab" data-toggle="tab" href="#nav-market1" role="tab" aria-controls="nav-market" aria-selected="false">Purchased</a>
                            </div>
                          </nav>
                          <div class="tab-content py-3 px-3 px-sm-0 scrollbarmarket" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="nav-market-home" role="tabpanel" aria-labelledby="nav-market-home-tab">
                              <div class="trading-tabulator__content">
                                <div class="sidebar-tabulator__content"> 
                                      <div class="mp-list">
                                        <div>
                                          <div class="mp-list-item">
                                            <div class="mp-item" >
                                              <div class="mp-i-header mp-item_title">
                                                <div class="mp-i-header__container">
                                                  <div class="mp-i-header__img">
                                                    <img class="lazy-image lazy-image_loaded" src="https://cdn1.olymptrade.com/assets1/marketplace/features/mp_feature_rate_of_return_84/icon.b73bade834dd481928e22fd9e4f26516.png" alt="Up to 85% rate of return">
                                                  </div>
                                                </div>
                                                <div class="mp-i-header__caption">
                                                  <h3 class="mp-i-header__title mp-i-header__title_list">Up to 85% rate of return</h3>
                                                  <p class="mp-i-header__price">$133 <strong>
                                                    <span data-trans="mp_per_month">/Month</span>
                                                  </strong>
                                                </p>
                                                <div class="mp-i-header__grid-row">
                                                  <p class="mp-i-header__category">Tradings terms</p>
                                                  <div class="mp-i-header__rating">
                                                    <div class="star-rating ">
                                                      <span class="star-rating__counter">5.0</span>
                                                      
                                                        <span class="star-rating__item">
                                                          <ion-icon name="star" style="color: #fff;"></ion-icon>
                                                        </span>
                                                      
                                                    </div>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                      <div>
                                        <div class="mp-list-item">
                                          <div class="mp-item" >
                                            <div class="mp-i-header mp-item_title">
                                              <div class="mp-i-header__container">
                                                <div class="mp-i-header__img">
                                                  <img class="lazy-image lazy-image_loaded" src="https://cdn1.olymptrade.com/assets1/marketplace/features/mp_feature_rate_of_return_84/icon.b73bade834dd481928e22fd9e4f26516.png" alt="Up to 85% rate of return">
                                                </div>
                                              </div>
                                              <div class="mp-i-header__caption">
                                                <h3 class="mp-i-header__title mp-i-header__title_list">Up to 85% rate of return</h3>
                                                <p class="mp-i-header__price">$133 <strong>
                                                  <span data-trans="mp_per_month">/Month</span>
                                                </strong>
                                              </p>
                                              <div class="mp-i-header__grid-row">
                                                <p class="mp-i-header__category">Tradings terms</p>
                                                <div class="mp-i-header__rating">
                                                  <div class="star-rating ">
                                                    <span class="star-rating__counter">5.0</span>
                                                  
                                                      <span class="star-rating__item">
                                                        <ion-icon name="star" style="color: #fff;"></ion-icon>
                                                      </span>
                                                
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                    <div>
                                      <div class="mp-list-item">
                                        <div class="mp-item" >
                                          <div class="mp-i-header mp-item_title">
                                            <div class="mp-i-header__container">
                                              <div class="mp-i-header__img">
                                                <img class="lazy-image lazy-image_loaded" src="https://cdn1.olymptrade.com/assets1/marketplace/features/mp_feature_rate_of_return_84/icon.b73bade834dd481928e22fd9e4f26516.png" alt="Up to 85% rate of return">
                                              </div>
                                            </div>
                                            <div class="mp-i-header__caption">
                                              <h3 class="mp-i-header__title mp-i-header__title_list">Up to 85% rate of return</h3>
                                              <p class="mp-i-header__price">$133 <strong>
                                                <span data-trans="mp_per_month">/Month</span>
                                              </strong>
                                            </p>
                                            <div class="mp-i-header__grid-row">
                                              <p class="mp-i-header__category">Tradings terms</p>
                                              <div class="mp-i-header__rating">
                                                <div class="star-rating ">
                                                  <span class="star-rating__counter">5.0</span>
                                                  
                                                    <span class="star-rating__item">
                                                      <ion-icon name="star" style="color: #fff;"></ion-icon>
                                                    </span>
                                                  
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                      </div>
                                    </div>
                                </div>
                            </div>
                              <div class="tab-pane fade" id="nav-market1" role="tabpanel" aria-labelledby="nav-market1-tab">
                              <div class="trading-tabulator__content">
                                <div class="sidebar-tabulator__content"> 
                                      <div class="mp-list">
                                        <div>
                                          <div class="mp-list-item">
                                            <div class="mp-item" >
                                              <div class="mp-i-header mp-item_title">
                                                <div class="mp-i-header__container">
                                                  <div class="mp-i-header__img">
                                                    <img class="lazy-image lazy-image_loaded" src="https://cdn1.olymptrade.com/assets1/marketplace/features/mp_feature_rate_of_return_92/icon.f42644e517bf29d84727c772afedb7f4.png" alt="Up to 92% rate of return">
                                                  </div>
                                                </div>
                                                <div class="mp-i-header__caption">
                                                  <h3 class="mp-i-header__title mp-i-header__title_list">Up to 85% rate of return</h3>
                                                  <p class="mp-i-header__price">$133 <strong>
                                                    <span data-trans="mp_per_month">/Month</span>
                                                  </strong>
                                                </p>
                                                <div class="mp-i-header__grid-row">
                                                  <p class="mp-i-header__category">Tradings terms</p>
                                                  <div class="mp-i-header__rating">
                                                    <div class="star-rating ">
                                                      <span class="star-rating__counter">5.0</span>
                                                      
                                                        <span class="star-rating__item">
                                                          <ion-icon name="star" style="color: #fff;"></ion-icon>
                                                        </span>
                                                      
                                                    </div>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                      <div>
                                        <div class="mp-list-item">
                                          <div class="mp-item" >
                                            <div class="mp-i-header mp-item_title">
                                              <div class="mp-i-header__container">
                                                <div class="mp-i-header__img">
                                                  <img class="lazy-image lazy-image_loaded" src="https://cdn1.olymptrade.com/assets1/marketplace/features/mp_feature_rate_of_return_84/icon.b73bade834dd481928e22fd9e4f26516.png" alt="Up to 85% rate of return">
                                                </div>
                                              </div>
                                              <div class="mp-i-header__caption">
                                                <h3 class="mp-i-header__title mp-i-header__title_list">Up to 85% rate of return</h3>
                                                <p class="mp-i-header__price">$133 <strong>
                                                  <span data-trans="mp_per_month">/Month</span>
                                                </strong>
                                              </p>
                                              <div class="mp-i-header__grid-row">
                                                <p class="mp-i-header__category">Tradings terms</p>
                                                <div class="mp-i-header__rating">
                                                  <div class="star-rating ">
                                                    <span class="star-rating__counter">5.0</span>
                                                    
                                                      <span class="star-rating__item">
                                                        <ion-icon name="star" style="color: #fff;"></ion-icon>
                                                      </span>
                                                    
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                    
                                      </div>
                                    </div>
                                </div>
                            </div>
                          </div>
                          </div>
                        <!-- </div> -->
               </div>
                <div id="footerclick2" class="sidebar1 cor-w-panel sidebar-platform" style="background-color:#131e2a;
                max-width: 20rem; display: none;">
                <div class="cor-w-panel__container" style="width: 20rem;">
                  <div class="side-menu-trade-header side-menu-trade-header__content ">
                      <div class="side-menu-trade-header__center " style="opacity: 1;">
                        <h3 class="side-menu-trade">
                          <span >Events</span>
                      </h3>
                      <div class="cor-w-panel-l-header__actions"></div> 
                    </div>                     
                    <a href="javascript:void(0)" class="clickclose" >×</a>
                    
                    </div>  
                    <div class=""  id="tabs">
                      <nav class="trading-tabulator__tabs">
                        <div class="nav nav-tabs nav-fill trading-tabulator__tabs-wrapper" id="nav-tab" role="tablist">
                          <a class="nav-item nav-link active  trading-tabulator__tab trading-tabulator__tab_active" id="nav-event-home-tab" data-toggle="tab" href="#nav-event-home" role="tab" aria-controls="nav-home" aria-selected="true">Current</a>
                          <a class="nav-item nav-link trading-tabulator__tab" id="nav-profile-tab" data-toggle="tab" href="#nav-event" role="tab" aria-controls="nav-event" aria-selected="false">Completed</a>
                        </div>
                      </nav>
                      <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-event-home" role="tabpanel" aria-labelledby="nav-event-home-tab">
                         <div class="event-main" style="overflow-x: hidden;">
                          <div class="event-side _20u8BogC" style=" transform: translateX(0%);  will-change: transform; ">
                            <div class="event-side- _1Hjz8_F0" role="tabpanel" style="transform: scale(1); will-change: transform; visibility: inherit;">
                              <div class="event-main-overflow event-padd">
                                <div class="event-pos">
                                  <div class="event-mar">
                                    <div class="event-b">
                                      <div class="event-img">
                                        <img class="event-imgimg" src="https://cdn1.olymptrade.com/assets1/competitions/super-7-quest-image.ea71fde7e2e037ae833b597aed1dca31.png" alt="">
                                        <div class="event-img-block event-imfinner" style="background: linear-gradient(90deg, rgb(99, 65, 50) 0%, rgba(99, 65, 50, 0) 100%);"></div>
                                        <div class="e-img-text">
                                          <span>Day 7 of 7</span>
                                        </div>
                                        <div class="e-img-overtext">
                                          <div class="text-weekly" >The Super&nbsp;7 Quest</div>
                                          <div class="text-marg">
                                            <div class="text-block">
                                              <div class="_1Cl7qj7X">
                                                <div class="text-Participants">
                                                  <span >You've got</span>
                                                </div>
                                                <div class="e-par-num">
                                                  <span > 0 stones </span>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="text-over">
                                       
                                          <div class="text-day-flex">
                                            <span class="day-flex-inner">
                                              <span >The day ends in</span>
                                            </span>
                                            <div class="text-hour">
                                                <span > 14 hours </span>
                                            </div>
                                          </div>
                                  
                                        <div>
                                          <div class="_2QFzbGz5 aktoxW3E" >
                                            <ion-icon name="checkmark-outline"></ion-icon>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="event-b event-mar" role="button">
                                      <div class="_183qaMW2">
                                        <img class="_2fiVMBFZ" src="https://cdn1.olymptrade.com/assets1/tournaments/weekly_cup/new-widget-image-382@2x.3d646a51f838125f79e7ffdd45d8c806.jpg" alt="">
                                        <div class="_2VHnkRlY _2pzF9FfU" style="background: linear-gradient(90deg, rgb(107, 38, 71) 0%, rgba(107, 38, 71, 0) 100%);">
                                        </div>
                                        <div class="e-img-text _1ZLUzmgH">
                                          <span data-trans="tou_tag_new">New</span>
                                        </div>
                                        <div class="e-img-overtext">
                                          <div class="text-weekly">Weekly Cup</div>
                                          <div class="text-block text-marg-top">
                                            <div class="text-b">
                                              <div class="text-Participants">
                                                <span >Participants</span>
                                              </div>
                                              <div class="e-par-num">5,419</div>
                                            </div>
                                         
                                          </div>
                                        </div>
                                      </div>
                                      <div class="text-over" style="background-color: rgb(107, 38, 71);">
                                       
                                          <div class="text-day-flex">
                                            <span class="day-flex-inner">
                                              <span >The day ends in</span>
                                            </span>
                                            <div class="text-hour">  
                                                <span > 14 hours </span>
                                            </div>
                                          </div>
                                        
                                        <div>
                                          <div class="_2QFzbGz5 aktoxW3E" >
                                            <ion-icon name="checkmark-outline"></ion-icon>
                                            </div>
                                          </div>
                                        </div>
                                     
                                    </div>
                                  </div>
                                </div>
                              </div>
                             
                            </div>
                          </div>
                      
                        </div>
                        <div class="tab-pane fade" id="nav-event" role="tabpanel" aria-labelledby="nav-event-tab">
                          <div role="tabpanel" style="transform: scale(1); will-change: transform; visibility: inherit;">
                            <div class="HCQ_umCd">
                              <div class="event-tab2-pos">
                                <div class="event-tab2-inner">
                                <img src="https://cdn1.olymptrade.com/v5/public/images/empty_image.dd99ce25.png" alt="" class="_2GPFa6G5">
                                <h1 class="event-tab2-text evnt-tab2-text-inner ">
                                  <span>You haven't taken part in events yet</span>
                                </h1>
                                <span class="event-tab2-text evnt-tab2-text-p">
                                  <span>Check out the list of current events. You will surely find something interesting!</span>
                                </span>
                              </div>
                            </div>
                          </div>
                        </div>
                        </div>
                      </div>
                      </div>
                    </div>
                </div>
                <div id="footerclick3" class="sidebar1 cor-w-panel sidebar-platform" style="background-color:#131e2a;
                      max-width: 20rem;display: none;">
                      <div class="cor-w-panel__container" style="width: 20rem;">
                        <div class="side-menu-trade-header side-menu-trade-header__content ">
                            <div class="side-menu-trade-header__center " style="opacity: 1;">
                              <h3 class="side-menu-trade">
                                <span >Help</span>
                            </h3>
                            <div class="cor-w-panel-l-header__actions"></div> 
                          </div>                     
                          <a href="javascript:void(0)" class="clickclose" >×</a>
                          </div>  
                         <div class="sidebar-manager">
                            <div>
                              <div class="list-menu-header">
                                <span>Answers to Questions</span>
                              </div>
                              <ul class="list-menu">
                                <li class="list-menu__item">
                                  <button class="list-menu-button">
                                    <span class="list-menu-button__start-icon">
                                      <i  aria-hidden="true" class="fa fa-question-circle" style="font-size: 18px;"></i>
                                    </span>
                                    <span class="list-menu-button__left">
                                      <span class="list-menu-button__body">
                                        <span class="list-menu-button__title">
                                          <span>Support</span>
                                        </span>
                                        <span class="list-menu-button__desc">
                                          <span >Ask a specialist</span>
                                        </span>
                                      </span>
                                    </span>
                                  </button>
                                </li>
                                <li class="list-menu__item">
                                  <button class="list-menu-button">
                                    <span class="list-menu-button__start-icon">
                                      <i class="fa fa-comments-o" style="font-size:24px;color: #5b728c;"></i>
                                      </span>
                                      <span class="list-menu-button__left">
                                        <span class="list-menu-button__body">
                                          <span class="list-menu-button__title">
                                            <span >Personal Analyst</span>
                                          </span>
                                          <span class="list-menu-button__desc">
                                            <span>Request a callback</span>
                                          </span>
                                        </span>
                                      </span>
                                    </button>
                                  </li>
                                  <li class="list-menu__item">
                                      <button class="list-menu-button">
                                        <span class="list-menu-button__start-icon">
                                          <ion-icon name="information-circle-outline" style="font-size: 20px;"></ion-icon>
                                        </span>
                                        <span class="list-menu-button__left">
                                          <span class="list-menu-button__body">
                                            <span class="list-menu-button__title">
                                              <span>Help Center</span>
                                            </span>
                                            <span class="list-menu-button__desc">
                                              <span>Open knowledge base</span>
                                            </span>
                                          </span>
                                        </span>
                                      </button>
                                    </li>
                                    <li class="list-menu__item">
                                      <button class="list-menu-button list-menu-button_count">
                                        <span class="list-menu-button__start-icon">
                                          <i class="fa fa-trophy" style="font-size:24px;color: #5b728c;"></i>
                                        </span>
                                        <span class="list-menu-button__left">
                                          <span class="list-menu-button__body">
                                            <span class="list-menu-button__title">
                                              <span>What's New?</span>
                                            </span>
                                            <span class="list-menu-button__desc">
                                              <span>Our updates</span>
                                            </span>
                                          </span>
                                        </span>
                                        <span class="message-count list-menu-button__count">1</span>
                                      </button>
                                    </li>
                                </ul>
                                <div class="list-menu-header">
                                  <span>Help with Trades</span>
                                </div>
                                <ul class="list-menu">
                                  <li class="list-menu__item">
                                    <button class="list-menu-button">
                                      <span class="list-menu-button__start-icon">
                                        <i  aria-hidden="true" class="fa fa-question-circle" style="font-size: 18px;"></i>
                                      </span>
                                      <span class="list-menu-button__left">
                                        <span class="list-menu-button__body">
                                          <span class="list-menu-button__title">
                                            <span>How to Trade</span>
                                          </span>
                                          <span class="list-menu-button__desc">
                                            <span >A quick guide</span>
                                          </span>
                                        </span>
                                      </span>
                                    </button>
                                  </li>
                                  <li class="list-menu__item">
                                    <button class="list-menu-button">
                                      <span class="list-menu-button__start-icon">
                                        <i class="fa fa-comments-o" style="font-size:24px;color: #5b728c;"></i>
                                        </span>
                                        <span class="list-menu-button__left">
                                          <span class="list-menu-button__body">
                                            <span class="list-menu-button__title">
                                              <span >Assets</span>
                                            </span>
                                            <span class="list-menu-button__desc">
                                              <span>Choose the best asset to trade</span>
                                            </span>
                                          </span>
                                        </span>
                                      </button>
                                    </li>
                                    <li class="list-menu__item">
                                        <button class="list-menu-button">
                                          <span class="list-menu-button__start-icon">
                                            <ion-icon name="information-circle-outline" style="font-size: 20px;"></ion-icon>
                                          </span>
                                          <span class="list-menu-button__left">
                                            <span class="list-menu-button__body">
                                              <span class="list-menu-button__title">
                                                <span>Insights</span>
                                              </span>
                                              <span class="list-menu-button__desc">
                                                <span>Use daily analysis to improve your trading</span>
                                              </span>
                                            </span>
                                          </span>
                                        </button>
                                      </li>
                                      <li class="list-menu__item">
                                        <button class="list-menu-button list-menu-button_count">
                                          <span class="list-menu-button__start-icon">
                                            <i class="fa fa-trophy" style="font-size:24px;color: #5b728c;"></i>
                                          </span>
                                          <span class="list-menu-button__left">
                                            <span class="list-menu-button__body">
                                              <span class="list-menu-button__title">
                                                <span>Trading Signals</span>
                                              </span>
                                              <span class="list-menu-button__desc">
                                                <span>Get forecasts online</span>
                                              </span>
                                            </span>
                                          </span>
                                          <span class="message-count list-menu-button__count">1</span>
                                        </button>
                                      </li>
                                  </ul>
                            </div>
                         </div>
                          </div>
                </div>
                <div id="footerclick4" class="sidebar1 cor-w-panel sidebar-platform" style="background-color:#131e2a;
                max-width: 20rem;display: none;">
                <div class="cor-w-panel__container" style="width: 20rem;">
                  <div class="side-menu-trade-header side-menu-trade-header__content ">
                      <div class="side-menu-trade-header__center " style="opacity: 1;">
                        <h3 class="side-menu-trade">
                          <span >Settings</span>
                      </h3>
                      <div class="cor-w-panel-l-header__actions"></div> 
                    </div>                     
                    <a href="javascript:void(0)" class="clickclose" >×</a>
                    </div>  
                    <div class=""  id="tabs">
                      <nav class="trading-tabulator__tabs">
                        <div class="nav nav-tabs nav-fill trading-tabulator__tabs-wrapper" id="nav-tab" role="tablist">
                          <a class="nav-item nav-link active  trading-tabulator__tab trading-tabulator__tab_active" id="nav-Main-home-tab" data-toggle="tab" href="#nav-Main-home" role="tab" aria-controls="nav-home" aria-selected="true">Main</a>
                          <a class="nav-item nav-link trading-tabulator__tab" id="nav-profile-tab" data-toggle="tab" href="#nav-Main" role="tab" aria-controls="nav-Main" aria-selected="false">Chart</a>
                        </div>
                      </nav>
                      <div class="tab-content py-3 px-3 px-sm-0 scrollbar style-4" id="nav-tabContent">
                        <div class="tab-pane fade show active force-overflow" id="nav-Main-home" role="tabpanel" aria-labelledby="nav-Main-home-tab">
                          <div class="trading-tabulator__content" >
                            <div class="platform-settings">
                              <div class="settings-header-title">
                                <div class="settings-group-title" style="opacity: 1; transform: translateX(0px);">
                                <span >Platform</span>
                              </div>
                            </div>
                            <div class="settings-item">
                              <div class="interface-scale">
                                <div class="interface-scale__title">
                                  <span >Interface scale</span>
                                </div>
                                <div class="interface-scale__options">
                                  <div class="interface-scale__option">
                                    <span class="interface-scale__option-text">80%</span>
                                  </div>
                                  <div class="interface-scale__option">
                                   <span class="interface-scale__option-text">90%</span>
                                  </div>
                                  <div class="interface-scale__option">
                                    <span class="interface-scale__option-text">100%</span>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="settings-item">
                              <div class="settings-language" >
                                <div class="settings-language__title">
                                  <span>Language</span>
                                </div>
                                <div class="settings-language_lang">
                                  <div class="settings-language-inner">
                                    <span class="settings-language-img">
                                     <img src="../../assets/images/settingicon1.png" alt="">
                                    </span>
                                    <span class="settings-language-text">
                                      <span class="SelectControl-module-label-2hP">English</span>
                                    </span>
                                    <span class="settings-language-img">
                                      <img src="../../assets/images/settingdropdown.png" alt="">
                                    </span>
                                  </div>
                                </div>
                                  </div>
                                </div>
                                <div class="settings-item">
                                  <div class="settings-sound">
                                    <div class="settings-sound__title">
                                      <span>Sound</span>
                                    </div>
                                    <div class="settings-language_lang settings-sound__select">
                                      <div class="settings-language-inner" >
                                        <span class="settings-language-img">
                                          <img src="../../assets/images/settingicon2.png" alt="">
                                        </span>
                                        <span class="settings-language-text">
                                          <span class="SelectControl-module-label-2hP">
                                            <span>Silent</span>
                                          </span>
                                        </span>
                                        <span class="settings-language-img">
                                          <img src="../../assets/images/settingdropdown.png" alt="">
                                        </span>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="settings-item">
                                  <div  class="settings-theme">
                                    <div class="settings-theme__title">
                                      <span >Color theme</span>
                                    </div>
                                    <div class="settings-language_lang settings-theme__themes">
                                      <div class="settings-language-inner">
                                        <span class="settings-language-img">
                                          <img src="../../assets/images/settingiocn3.png" alt="">
                                        </span>
                                        <span class="settings-language-text">
                                          <span class="SelectControl-module-label-2hP">
                                            <span>Dark</span></span>
                                        </span>
                                        <span class="settings-language-img">
                                          <img src="../../assets/images/settingdropdown.png" alt="">
                                        </span>
                                      </div>
                                    </div>
                                    </div>
                                  </div>
                                  <div class="settings-group-title" style="opacity: 1; transform: translateX(0px);">
                                    <span>TRADES</span>
                                  </div>
                                  <div class="settings-list">
                                    <div class="settings-list__item"  style="opacity: 1; transform: translateX(0px);">
                                      <div class="settings-list__description">
                                        <label for="" class="satir-checkbox description__checkbox" role="checkbox">
                                          <input type="checkbox" id="" name="" class="satir-checkbox__input" readonly="">
                                          <div class="satir-checkbox__text">1-click trade</div>
                                        </label>
                                        <div class="description__text">Open trades without confirmation</div>
                                      </div>
                                      <div class="settings-list__pic"></div>
                                    </div>
                                    <div class="settings-list__item"  style="opacity: 1; transform: translateX(0px);">
                                      <div class="settings-list__description">
                                        <label for="" class="satir-checkbox description__checkbox" role="checkbox">
                                          <input type="checkbox" id="" name="" class="satir-checkbox__input" readonly="">
                                          
                                          <div class="satir-checkbox__text">1-click closing</div>
                                        </label>
                                        <div class="description__text">Close trades without confirmation</div>
                                      </div>
                                      <div class="settings-list__pic"></div>
                                    </div>
                                    <div class="settings-list__item"  style="opacity: 1; transform: translateX(0px);">
                                      <div class="settings-list__description">
                                        <label for="" class="satir-checkbox description__checkbox satir-checkbox_checked" role="checkbox">
                                          <input type="checkbox" id="" name="" class="satir-checkbox__input" readonly="" checked="">
                                          <div class="satir-checkbox__text">Pending Orders</div>
                                        </label>
                                        <div class="description__text"> Show the pending orders editor on the panel for making trades</div>
                                      </div>
                                      <div class="settings-list__pic">
                                        <img src="../../assets/images/setting.png" alt="">
                                      </div>
                                    </div>
                                    <div class="settings-list__item"  style="opacity: 1; transform: translateX(0px);">
                                      <div class="settings-list__description">
                                        <label for="" class="satir-checkbox description__checkbox" role="checkbox">
                                          <input type="checkbox" id="" name="" class="satir-checkbox__input" readonly="">
                                          
                                          <div class="satir-checkbox__text">Trade Scaling</div>
                                        </label>
                                        <div class="description__text">This function will multiply or divide the trade amount by 2 in FTT mode.</div>
                                      </div>
                                      <div class="settings-list__pic"></div>
                                    </div>
                                  </div>
                                  <div class="settings-group-title" style="opacity: 1; transform: translateX(0px);">
                                    <span >FOREX</span>
                                  </div>
                                  <div class="settings-list">
                                    <div class="settings-list__item" style="opacity: 1; transform: translateX(0px);">
                                      <div class="settings-list__description">
                                        <label for="" class="satir-checkbox description__checkbox satir-checkbox_checked" role="checkbox">
                                          <input type="checkbox" id="" name="" class="satir-checkbox__input" readonly="" checked="">
                                          
                                          <div class="satir-checkbox__text">Take Profit and Stop Loss</div>
                                          </label>
                                          <div class="description__text">Show Take Profit and Stop Loss editor on the panel for making trades.</div>
                                        </div>
                                        <div class="settings-list__pic">
                                          <img src="../../assets/images/setting.png" alt="">
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="nav-Main" role="tabpanel" aria-labelledby="nav-Main-tab">
                          <div class="trading-tabulator__content" >
                            <div class="platform-settings settings-list">
                            <div class="settings-list__item" style="opacity: 1; transform: translateX(0px);">
                              <div class="settings-list__description">
                                <label for="" role="checkbox" class="satir-checkbox description__checkbox satir-checkbox_checked">
                                  <input type="checkbox" id="" name="" readonly="" checked="" class="satir-checkbox__input">
                                    <div class="satir-checkbox__text">Pending Orders</div>
                                </label>
                                <div class="description__text"> Show the pending orders editor on the panel for making trades</div>
                              </div>
                              <div class="settings-list__pic">
                                <img src="../../assets/images/setting.png" alt="">
                              </div>
                            </div>
                            <div class="settings-list__item" style="opacity: 1; transform: translateX(0px);">
                              <div class="settings-list__description">
                                <label for="" role="checkbox" class="satir-checkbox description__checkbox satir-checkbox_checked">
                                  <input type="checkbox" id="" name="" readonly="" checked="" class="satir-checkbox__input">
                                    <div class="satir-checkbox__text">Pending Orders</div>
                                </label>
                                <div class="description__text"> Show the pending orders editor on the panel for making trades</div>
                              </div>
                              <div class="settings-list__pic">
                                <img src="../../assets/images/setting.png" alt="">
                              </div>
                            </div>
                            <div class="settings-list__item" style="opacity: 1; transform: translateX(0px);">
                              <div class="settings-list__description">
                                <label for="" role="checkbox" class="satir-checkbox description__checkbox satir-checkbox_checked">
                                  <input type="checkbox" id="" name="" readonly="" checked="" class="satir-checkbox__input">
                                    <div class="satir-checkbox__text">Pending Orders</div>
                                </label>
                                <div class="description__text"> Show the pending orders editor on the panel for making trades</div>
                              </div>
                              <div class="settings-list__pic">
                                <img src="../../assets/images/setting.png" alt="">
                              </div>
                            </div>
                          </div>
                         </div>
                        </div>
                      </div>
                      </div>
                    </div>
                </div> 
                <nav class="nav">
                  <div class="nav_list">
                    <a class="openbtn nav_link1" href="footertrade">
                      <i class="fa fa-arrows-alt" style="font-size:24px;color: #5b728c;"></i>
                      <div class="nav_name" style="display: none;">Traders</div>
                    </a> 
                      <a class="openbtn nav_link1" id="footericon1" href="footermarket">
                      <i class="fa fa-envelope" aria-hidden="true" style="font-size: 24px; color: #5b728c;"></i>
                      <span class="nav_name" style="display: none;">Market</span>
                    </a> 
                  
                    <a class="openbtn nav_link1" id="footericon2" href="footerevent" >
                      <i class="fa fa-trophy" aria-hidden="true" style="font-size: 24px; color: #5b728c;"></i>
                      <span class="nav_name" style="display: none;">Events</span>
                    </a> 
                 
                     <a class="openbtn nav_link1" id="footericon3" href="footerhelp" >
                        <i class="fa fa-question-circle" aria-hidden="true" style="font-size: 24px; color: #5b728c;"></i>
                        <span class="nav_name" style="display: none;">Help</span> 
                      </a> 
                    
                      <a class="openbtn nav_link1"id="footericon4" href="footersetting">
                        <i class="fa fa-cog" style="font-size: 24px; color: #5b728c;"></i>
                        <span class="nav_name" style="display: none;">Settings</span>
                      </a> 
                     
                    </div>
              </nav>
          </div>
            <!-- </div> -->
         
      <!-- </ion-col> -->

      


  </div>
  
  
  
  <script>
    document.addEventListener("DOMContentLoaded", function(event) {
  
  const showNavbar = (toggleId, navId, bodyId, headerId) =>{
  const toggle = document.getElementById(toggleId),
  nav = document.getElementById(navId),
  bodypd = document.getElementById(bodyId),
  headerpd = document.getElementById(headerId)
  
  // Validate that all variables exist
  if(toggle && nav && bodypd && headerpd){
  toggle.addEventListener('click', ()=>{
  // show navbar
  nav.classList.toggle('show')
  // change icon
  toggle.classList.toggle('bx-x')
  // add padding to body
  bodypd.classList.toggle('body-pd')
  // add padding to header
  headerpd.classList.toggle('body-pd')
  })
  }
  }
  
  showNavbar('header-toggle','nav-bar','body-pd','header')
  
  /*===== LINK ACTIVE =====*/
  const linkColor = document.querySelectorAll('.nav_link')
  
  function colorLink(){
  if(linkColor){
  linkColor.forEach(l=> l.classList.remove('active'))
  this.classList.add('active')
  }
  }
  linkColor.forEach(l=> l.addEventListener('click', colorLink))
  
  // Your code to run since DOM is loaded and ready
  });
  </script>
  </ion-content>
  
